*{
  background-color: #222;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  /* background: white; */
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.product-card {
  /* border: 1px solid #ddd; */
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  /* background: #fff; */
  border: 1px solid white;
}

.product-card h2 {
  color: #222;
}

.rating-stars {
  font-size: 24px;
  cursor: pointer;
}

.rating-stars span {
  margin: 0 5px;
  transition: color 0.2s;
}

.rating-stars span:hover {
  color: gold;
}
